import { useState } from "react";
import Footer from "./components/Footer";

function App() {
  const [count, setCount] = useState(0);

  return (
    <main className="flex min-h-screen flex-col ">
      <section className="flex flex-1 flex-col items-center justify-center p-4">
        <div className="w-full max-w-xl space-y-12 rounded-lg bg-foreground p-6 shadow-md animate-fade-in">
          <h1 className="text-3xl font-bold text-center text-gray-800">
            my-app
          </h1>
          <p className="text-center text-xl font-bold text-secondary animate-bounce">
            🎉 Hurray! 🎉
          </p>
          <p className="text-center text-gray-600">
            Your React app is up and running! This template is designed to be a minimal starting point for your projects.
          </p>

          <div className="mt-6 text-center">
            <p className="text-sm text-gray-500">
              Check out the{" "}
              <a
                href="https://github.com/kabaskill/blitz-react"
                target="_blank"
                rel="noopener noreferrer"
                className="text-primary hover:text-secondary underline"
              >
                blitz-react
              </a>{" "}
              repository for more information
            </p>
          </div>
    
        </div>
      </section>

      <Footer />
    </main>
  );
}

export default App;